ARGS="-httpListenAddr={{ victoriametrics_listen_addr }} -storageDataPath={{ victoriametrics_dir_data }} -retentionPeriod={{ victoriametrics_retention_time }} -promscrape.config={{ victoriametrics_dir_configuration }}/scrape.yml -selfScrapeInterval={{ victoriametrics_self_scrape_interval }}"
